/* Import partials
 ----------------------------------*/
/* Import partials
 ----------------------------------*/
/* Base Styles
 ----------------------------------*/
*, *:before, *:after {
  box-sizing: border-box;
  transition: all .3 ease-in-out 0s; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.5; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

/* Typography
----------------------------------*/
h1 {
  font-size: 40px;
  color: #2d2e2e;
  font-weight: 500; }

h2 {
  font-size: 36px;
  font-weight: 500;
  color: #2d2e2e; }

h3 {
  font-weight: 400;
  font-size: 20px;
  color: #2d2e2e; }

p {
  font-size: 16px;
  font-weight: 300;
  color: #666666; }

img {
  max-width: 100%; }

a:link {
  text-decoration: none; }
a:visited {
  color: #fff; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none; }

*:focus {
  outline: none; }

/* Import partials
 ----------------------------------*/
.project-details h3::after, .promo-hd::after, .single-promo h3::after, .call-action-hd::after, .project-hd h2::after, .project-overlay h2::after, .work-together h1::after, .blog-content h3::after {
  background-color: #2d2e2e;
  bottom: 0;
  content: "";
  height: 1px;
  position: absolute;
  right: 47%;
  width: 30px; }

.comment, .comment-name {
  content: "";
  display: table;
  clear: both; }

.comment-name .comment-input input, .comment-message textarea {
  padding: 8px 30px 8px 15px;
  color: #666666;
  font-size: 14px;
  font-weight: 300;
  border: none;
  background-color: #fff;
  border: 1px solid #ddd; }

/* Header Styles
 ----------------------------------*/
.header-top {
  background-color: #f6f6f6; }

.hd-top-contact {
  float: left;
  width: 40%; }
  .hd-top-contact p {
    float: left;
    color: #2d2e2e;
    font-size: 12px;
    margin-top: 11px;
    margin-bottom: 11px; }
    .hd-top-contact p i {
      margin-right: 5px; }
  .hd-top-contact .hd-top-contact-phone {
    margin-right: 8px; }

.socil-links {
  float: right;
  width: 60%; }

ul.socil-links-ul {
  float: right;
  margin-right: 30px; }
  ul.socil-links-ul li {
    float: left;
    width: 3em; }
    ul.socil-links-ul li i {
      font-size: 16px; }
    ul.socil-links-ul li a {
      display: block;
      line-height: 40px;
      text-align: center;
      color: #666;
      transition: 300ms ease-in-out; }
      ul.socil-links-ul li a:hover {
        color: #fff; }
      ul.socil-links-ul li a.s-fb:hover {
        background-color: #5567A9; }
      ul.socil-links-ul li a.s-ttr:hover {
        background-color: #40AFFD; }
      ul.socil-links-ul li a.s-gp:hover {
        background-color: #BE4A39; }
      ul.socil-links-ul li a.s-db:hover {
        background-color: #F26798; }
      ul.socil-links-ul li a.s-pi:hover {
        background-color: #CB2027; }

.main-menu {
  background-color: #2d2e2e; }

.logo {
  display: inline-block;
  margin-top: 30px; }
  @media (max-width: 768px) {
    .logo {
      margin-top: 0;
      padding: 15px; } }

ul.main-menu-u {
  min-height: 84px; }
  @media (max-width: 768px) {
    ul.main-menu-u {
      width: 100%; } }
  ul.main-menu-u li {
    float: left; }
    @media (max-width: 768px) {
      ul.main-menu-u li {
        float: initial; } }
    ul.main-menu-u li a {
      color: #f6f6f6;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-right: 18px;
      padding-left: 18px;
      display: block;
      font-size: 16px; }
      @media (max-width: 768px) {
        ul.main-menu-u li a {
          padding: 15px; } }
      ul.main-menu-u li a:hover {
        text-decoration: none;
        color: #fff;
        background-color: #383939; }

.navbar-toggle .icon-bar {
  background-color: #f6f6f6; }

@media (min-width: 769px) {
  .dropdown {
    position: relative; }

  ul.sub-menu {
    position: absolute;
    left: 0;
    top: 84px;
    background-color: #fff;
    z-index: 55;
    width: 230px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    display: none;
    transition: .6s ease-in-out 0s; }
    ul.sub-menu li {
      float: none; }
      ul.sub-menu li a {
        color: #2d2e2e;
        font-size: 14px;
        padding: 10px 30px;
        font-weight: 300; }
        ul.sub-menu li a:hover {
          background-color: #fff;
          color: #f04316; }

  .dropdown:hover ul.sub-menu {
    display: block; } }
.main-menu {
  width: 100%; }

.stuck {
  position: fixed;
  top: 0;
  z-index: 200; }

.carousel-inner, .item {
  min-height: 630px; }

.item-1 {
  background-size: cover; }
  .item-1 h1 {
    animation-delay: 2s; }
  .item-1 .btn-sec {
    animation-delay: 3s; }
  .item-1 p {
    margin-top: 30px;
    margin-bottom: 50px;
    animation-delay: 1s; }
  .item-1 img {
    max-height: 500px;
    position: relative;
    top: 130px;
    left: 0; }

.carousel-inner:hover .slide-arrow {
  opacity: 1; }

.slide-arrow {
  opacity: 0;
  transition: .2s;
  position: absolute;
  top: 50%;
  margin-top: -32px; }
  .slide-arrow.left {
    left: 2%; }
  .slide-arrow.right {
    right: 2%; }

.slide-content {
  padding-top: 80px; }

.project-details {
  text-align: center;
  padding-top: 70px; }
  .project-details h3 {
    margin-top: 5px;
    position: relative;
    padding-bottom: 16px; }

.count {
  font-size: 36px;
  font-weight: 500;
  color: #2d2e2e; }

.promotions-area {
  text-align: center;
  margin-top: 70px;
  padding-bottom: 75px;
  overflow: hidden; }

.promo-hd {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 20px; }

.single-promo {
  margin-top: 60px;
  transition: .3s ease-in-out 0s;
  min-height: 180px;
  animation-duration: .8s;
  animation-delay: .2s;
  animation-timing-function: ease-out;
  opacity: 0; }
  @media (min-width: 768px) {
    .single-promo:hover {
      margin-top: 50px; } }
  .single-promo h3 {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px; }

.call-action-area {
  background: url("../img/bg-cta.jpg") center, #f6f6f6;
  background-size: cover;
  padding: 80px 0 20px; }

.call-action-hd {
  font-size: 24px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px; }
  .call-action-hd::after {
    left: 0; }

.imac {
  text-align: center; }
  @media (min-width: 768px) {
    .imac {
      text-align: right; } }

.action-btns {
  margin-top: 30px; }
  .action-btns .btn-prim {
    margin-right: 15px; }
  @media (max-width: 768px) {
    .action-btns {
      text-align: center;
      margin-bottom: 30px; } }

.projects-area {
  padding-top: 70px;
  padding-bottom: 50px; }

.project-hd {
  text-align: center;
  padding-bottom: 50px; }
  .project-hd h2 {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px; }

.single-project {
  background: rgba(239, 83, 43, 0.8);
  margin: 35px auto;
  width: 80%;
  max-width: 460px; }
  .single-project img {
    width: 100%; }
  @media (max-width: 768px) {
    .single-project .project-overlay {
      opacity: 1; } }
  @media (min-width: 1024px) {
    .single-project {
      position: relative;
      float: left;
      width: 20%;
      background-color: #f6f6f6; }
      .single-project:hover .project-overlay {
        opacity: 1; } }

.project-overlay {
  padding: 15px; }
  @media (min-width: 1024px) {
    .project-overlay {
      opacity: 0;
      transition: .3s ease-in-out 0s;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(239, 83, 43, 0.8); } }
  @media (min-width: 1024px) and (max-width: 1260px) {
    .project-overlay p {
      display: none; } }
  .project-overlay h2 {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #fff; }
    .project-overlay h2::after {
      background-color: #fff;
      left: 0; }
  .project-overlay p {
    color: #fff; }

.overlay-list li {
  font-size: 16px;
  color: #fff; }
  .overlay-list li span {
    font-weight: 700; }
  .overlay-list li a {
    color: #ddd; }
    .overlay-list li a:hover {
      color: rgba(0, 0, 0, 0.8); }
  .overlay-list li i {
    width: 8%;
    margin-right: 1%; }

.work-together {
  padding-top: 115px;
  padding-bottom: 115px; }
  .work-together h1 {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px; }
    .work-together h1:after {
      left: 0; }

.brands-area {
  background-color: #f6f6f6;
  padding: 50px 0; }

ul.brands li {
  float: left;
  width: 16.66667%; }
  @media (max-width: 768px) {
    ul.brands li {
      width: 33.3333%;
      padding: 5%; }
      ul.brands li img {
        width: 100%; } }

.tweet-area {
  background-color: #40affd;
  padding: 20px 0; }
  .tweet-area p {
    color: #fff;
    font-size: 14px; }
  .tweet-area i {
    font-size: 22px; }

.footer-area {
  background-color: #2d2e2e;
  padding-top: 60px; }
  .footer-area .footer-single h3 {
    color: #eef5f7;
    font-size: 20px;
    font-weight: 300;
    margin-top: 0; }
  .footer-area .footer-single p {
    color: #9ba1ac;
    font-size: 14px;
    font-weight: 300; }
  .footer-area .footer-single span {
    font-weight: 700;
    display: block;
    color: #eef5f7;
    margin: 10px 0; }
  @media (max-width: 768px) {
    .footer-area .footer-single h3 {
      margin-top: 30px; }
    .footer-area .footer-single .form-signup {
      max-width: 460px; }
    .footer-area .footer-single .form-signup .form-elem input[type=submit] {
      width: 18%; } }

.recent-posts:hover p {
  color: #b8bfcb; }

.form-signup {
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 20px; }
  .form-signup .form-elem input {
    display: block;
    float: left; }
  .form-signup .form-elem input[type=email],
  .form-signup .form-elem input[name="s"] {
    border: none;
    margin: 0;
    padding: 8px 18px;
    border-radius: 20px;
    background-color: #515359;
    width: 85%;
    -webkit-appearance: none;
    appearance: none; }
  .form-signup .form-elem input[placeholder] {
    color: #9ba1ac;
    font-size: 14px;
    font-weight: 300; }
  .form-signup .form-elem input[type=submit] {
    background-color: #747980;
    color: #fff;
    font-size: 14px;
    border: none;
    margin: 0;
    padding: 8px;
    margin-left: -30px;
    border-radius: 20px;
    -webkit-appearance: none;
    appearance: none;
    width: 25%;
    text-align: center;
    transition: background .3s ease-in-out 0s; }
    .form-signup .form-elem input[type=submit]:hover {
      background-color: #f04316; }

.hd-contact {
  color: #2d2e2e;
  font-size: 13px;
  margin-top: 12px; }

.footer-b {
  padding-top: 25px;
  padding-bottom: 30px;
  margin-top: 25px;
  font-size: 14px;
  border-top: 1px solid #494c51; }
  .footer-b p {
    color: #9aa1ac; }

.footer-social-links {
  float: left; }
  .footer-social-links li {
    float: left; }
    .footer-social-links li a {
      font-size: 16px;
      color: #ccc;
      padding: 10px 8px; }

.breadcrumb-area {
  background-color: #f6f6f6; }
  .breadcrumb-area .breadcrumb {
    background: none;
    margin-top: 3px;
    margin-bottom: 3px; }
    .breadcrumb-area .breadcrumb li, .breadcrumb-area .breadcrumb a {
      font-size: 12px;
      font-weight: 400;
      color: #666666; }

.blog-hd {
  text-align: center; }
  .blog-hd h2 {
    margin-top: 60px; }
  .blog-hd p {
    font-weight: 300;
    margin: 40px 0 35px; }

.blog-article {
  background-color: #f6f6f6;
  margin-top: 25px;
  margin-bottom: 50px; }

.blog-content {
  padding: 15px 20px 20px; }
  .blog-content h3 {
    position: relative;
    padding-bottom: 20px; }
    .blog-content h3::after {
      left: 0; }
    .blog-content h3 a {
      font-weight: 400;
      font-size: 20px;
      color: #2d2e2e; }
      .blog-content h3 a:hover {
        color: #f04316; }

.blog-meta {
  color: #acacac;
  font-size: 14px;
  margin-bottom: 30px; }
  .blog-meta span {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px; }
  .blog-meta a {
    color: #acacac;
    font-size: 14px; }
    .blog-meta a:hover {
      color: #f04316; }

.btn.read-more {
  background-color: #747980; }

.single-sidebar {
  margin-bottom: 50px; }

.form-signup.search input[name="s"] {
  padding: 6px 30px 6px 15px;
  color: #666666;
  font-size: 14px;
  font-weight: 300;
  border: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-right: none; }
.form-signup.search input[type=submit] {
  padding: 7px;
  border-radius: 20px; }

.catagories .catagories-list li {
  margin-top: 5px;
  margin-bottom: 5px; }
  .catagories .catagories-list li:before {
    content: "\f105";
    font-family: FontAwesome;
    left: 0;
    top: 0;
    font-size: 16px; }
  .catagories .catagories-list li a {
    font-size: 16px;
    color: #666666;
    display: inline-block;
    margin-left: 8px;
    font-weight: 300; }
    .catagories .catagories-list li a:hover {
      color: #f04316; }

.recent-posts-content {
  margin-bottom: 15px; }

.sidebar-recent-posts .recent-post-excerpt a {
  color: #666666; }
  .sidebar-recent-posts .recent-post-excerpt a:hover {
    color: #f04316; }
.sidebar-recent-posts .recent-posts-meta {
  color: #acacac;
  font-size: 14px; }
  .sidebar-recent-posts .recent-posts-meta a {
    color: #acacac;
    font-size: 14px; }
    .sidebar-recent-posts .recent-posts-meta a:hover {
      color: #f04316; }

.single-sidebar .tag-list li {
  display: inline-block; }
  .single-sidebar .tag-list li a {
    display: block;
    font-size: 14px;
    color: #2d2e2e;
    background-color: #f6f6f6;
    padding: 8px 12px;
    border-radius: 20px;
    margin: 8px 5px; }
    .single-sidebar .tag-list li a:hover {
      color: #fff;
      background-color: #f04316; }

.single-post {
  padding-top: 50px; }

.comment-form-area {
  padding-top: 30px;
  padding-bottom: 30px; }
  .comment-form-area h3 {
    margin-bottom: 30px; }

.comment-section h3 {
  margin-bottom: 30px; }

.comment-list {
  padding: 0;
  margin: 0; }

.comment-avatar,
.comment-body {
  float: left; }

.comment {
  padding: 2%;
  background-color: #F6F6F6;
  margin-bottom: 20px; }
  .comment .comment-avatar {
    width: 15%;
    text-align: center;
    padding-right: 2.5em; }
    .comment .comment-avatar img {
      width: 70px;
      height: auto; }
  .comment .comment-body {
    width: 85%; }

.comment-meta {
  color: #acacac;
  font-size: 14px;
  margin-bottom: 1em; }
  .comment-meta a {
    color: #acacac;
    font-size: 14px; }
    .comment-meta a:hover {
      color: #f04316; }

.comment-name {
  width: 100%; }
  .comment-name .comment-input {
    width: 33.33333%;
    float: left; }
    .comment-name .comment-input input {
      width: 95%;
      border-radius: 18px; }

.comment-message {
  padding-top: 3em;
  padding-bottom: 3em; }
  .comment-message textarea {
    border-radius: 18px;
    width: 100%;
    -webkit-appearance: none !important;
    appearance: none !important;
    outline: 0;
    resize: none; }

.comment-input.web input {
  float: right; }

.comment-input.email {
  padding-left: 1em; }

.btn-prim {
  border-radius: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  background-color: #2d2e2e;
  transition: .2s ease-in-out 0s;
  color: #fff; }
  .btn-prim:hover {
    background-color: #f04316;
    color: #fff; }

.btn-sec {
  border-radius: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  background-color: #f04316;
  transition: .2s ease-in-out 0s;
  color: #fff; }
  .btn-sec:hover {
    background-color: #2d2e2e;
    color: #fff; }

.btn {
  border-color: transparent; }

/*# sourceMappingURL=main.css.map */
