// blog style
.breadcrumb-area {
	background-color: #f6f6f6;
	.breadcrumb {
		background: none;
		margin-top: 3px;
		margin-bottom: 3px;
		li, a {
			font-size: 12px;
			font-weight: 400;
			color: #666666;
		}
	}
}

.blog-hd {
	text-align: center;
	p {
		font-weight: 300;
	}
}


.blog-article {
	background-color: #f6f6f6;
}

.blog-content {
	padding: 15px 20px 20px;
	h3 {
		position: relative;
		padding-bottom: 20px;
		@extend %underline;
		&::after {
			left: 0;
		}
		a {
			font-weight: 400;
			font-size: 20px;
			color: $color-text-base;
		}
	}
	p {
		
	}
}