
.footer-area {
	background-color: $color-prim;
	padding-top: 60px;
	.footer-single {
		h3 {
			color: #eef5f7;
			font-size: 20px;
			font-weight: 300;
			margin-top: 0;
		}
		p {
			color: #9ba1ac;
			font-size: 14px;
			font-weight: 300;
		}
		span {
			font-weight: 700;
			display: block;
			color: #eef5f7;
			margin: 10px 0;
		}

		@media #{$brk-narrow} {
			h3 {
				margin-top: 30px;
			}
			.form-signup {
				max-width: 460px;
			}
			.form-signup .form-elem input[type=submit] {
	    	width: 18%;
			}
		}

	}
}

.recent-posts:hover p {
	color: #b8bfcb;
}

.form-signup {
	border-radius: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
	.form-elem {
		input {
			display: block;
			float: left;
		}
		input[type=email], 
		input[name="s"] {
			border: none;
			margin: 0;
			padding: 8px 18px;
			border-radius: 20px;
			background-color: #515359;
			width: 85%;
			-webkit-appearance: none;
			appearance: none;
		}
		input[placeholder] {
			color: #9ba1ac;
			font-size: 14px;
			font-weight: 300;
		}
		input[type=submit] {
			background-color: #747980;
			color: #fff;
			font-size: 14px;
			border: none;
			margin: 0;
			padding: 8px;
			margin-left: -30px;
			border-radius: 20px;
			-webkit-appearance: none;
			appearance: none;
			width: 25%;
			text-align: center;
			transition: background .3s ease-in-out 0s;
			&:hover {
				background-color: $color-sec;
			}
		}
	}
}

.hd-contact {
	color: $color-text-base;
	font-size: 13px;
	margin-top: 12px;
}

.footer-b {
	padding-top: 25px;
	padding-bottom: 30px;
	margin-top: 25px;
	font-size: 14px;
	border-top: 1px solid #494c51;
	p {
		color: #9aa1ac;
	}
}

.footer-social-links {
	float: left;
	li {
		float: left;
		a {
			font-size: 16px;
			color: #ccc;
			padding: 10px 8px;
		}
	}
}