/* Header Styles
 ----------------------------------*/
 .header-top {
 	background-color: #f6f6f6;
 }

 .header-top p {
	color: $color-text-base;
	font-size: 12px;
 }

 .main-menu {
 	background-color: $color-prim;
 }

 .logo {
 	display:inline-block;
 	margin-top: 30px;
 		@media #{$brk-narrow} {
	 		margin-top: 0;
  		padding: 15px;
	 	}
 }
 ul.main-menu-u {
 	min-height: 84px;
 	@media #{$brk-narrow} {
 		width: 100%;
 	}
	li {
		float: left;
		@media #{$brk-narrow} {
			float: initial;
		}
		a {
			color: #f6f6f6;
	    padding-top: 30px;
	    padding-bottom: 30px;
	    padding-right: 18px;
	    padding-left: 18px;
	    display: block;
	    font-size: 16px;
	    @media #{$brk-narrow} {
				padding: 15px;
			}
			&:hover {
				text-decoration: none;
				color: #fff;
				background-color: #383939;
			}
		}
	}
 }

 .navbar-toggle .icon-bar {
 	background-color: #f6f6f6;
 }