/* Header Styles
 ----------------------------------*/
 .header-top {
 	background-color: #f6f6f6;
 }



 .hd-top-contact {
 	float: left;
 	width: 40%;
 	p {
 		float: left;
 		color: $color-text-base;
		font-size: 12px;
		margin-top: 11px;
		margin-bottom: 11px;
		i {
			margin-right: 5px;
		}
 	}

 	.hd-top-contact-phone {
 		margin-right: 8px;
 	}
 }

 .socil-links {
 	float: right;
 	width: 60%;
 }

ul.socil-links-ul {
	float: right;
	margin-right: 30px;
	li {
		float: left;
		width: 30px;
		i {
			font-size: 16px;
		}

		a {
			display: block;
			line-height: 40px;
			text-align: center;
			color: #666;
			transition: 300ms ease-in-out;
			&:hover {
				color: #fff;
			}
			&.s-fb:hover {
				background-color: #5567A9;
			}
			&.s-ttr:hover {
				background-color: #40AFFD;
			}
			&.s-gp:hover {
				background-color: #BE4A39;
			}
			&.s-db:hover {
				background-color: #F26798;
			}
			&.s-pi:hover {
				background-color: #CB2027;
			}

		}
	}
}

 .main-menu {
 	background-color: $color-prim;
 }

 .logo {
 	display:inline-block;
 	margin-top: 30px;
 		@media #{$brk-narrow} {
	 		margin-top: 0;
  		padding: 15px;
	 	}
 }
 ul.main-menu-u {
 	min-height: 84px;
 	@media #{$brk-narrow} {
 		width: 100%;
 	}
	li {
		float: left;
		@media #{$brk-narrow} {
			float: initial;
		}
		a {
			color: #f6f6f6;
	    padding-top: 30px;
	    padding-bottom: 30px;
	    padding-right: 18px;
	    padding-left: 18px;
	    display: block;
	    font-size: 16px;
	    @media #{$brk-narrow} {
				padding: 15px;
			}
			&:hover {
				text-decoration: none;
				color: #fff;
				background-color: #383939;
			}
		}
	}
 }

 .navbar-toggle .icon-bar {
 	background-color: #f6f6f6;
 }



 @media (min-width: 769px) {
 	.dropdown {
		position: relative;
	}
 	ul.sub-menu {
	position: absolute;
	left: 0;
	top: 84px;
	background-color: #fff;
	z-index: 55;
	width: 230px;
	display: inline-block;
	box-shadow: 0 1px 5px rgba(0,0,0,.2);
	display: none;
	li {
		float: none;
		a {
			color: $color-text-base;
			font-size: 14px;
			padding: 10px 30px;
			font-weight: 300;
			&:hover {
				background-color: #fff;
				color: $orange-lite;
			}
		}
	}
 }
 .dropdown {
	&:hover ul.sub-menu {
		display: block;
	}
 }

}

.main-menu {
	width: 100%;
}
 .stuck {
  position:fixed;
  top:0;
  z-index: 200;
}
 