$black: #2d2e2e;
$black-lite: #383939;
$orange: #f04316;
$orange-lite: #f04316;

$color-prim: $black;
$color-sec: $orange;

$color-text-base: #2d2e2e;
$color-text-lite: #666666;
$color-text-white-lite: #f6f6f6;

